<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="c.domatron.taggame">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.nfc"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Fragments.AddTagActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Fragments.JoinGroupActivity">
        </activity>
        <activity android:name=".Fragments.CreateGroupActivity">
        </activity>
        <activity android:name=".Fragments.SignInActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Fragments.MainActivity"
                android:label="@string/app_name">
            <!--<intent-filter>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>